<!DOCTYPE html>
<html>
<head>
	<title>Smart India Hackathon 2020</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="bgimage">
		<div class="menu">
			<div class="leftmenu">
				<img src="l1.jpg" class="logo"> 
				<div class="tag"><h4>ASK <span id="colorchang">ME</span></h4></div>
			</div>	

			<div class="rightmenu"></div>
			
		</div>
		<div class="text">
			<form name="f">
				<div class="head"><h1>HAVE A QUESTION?</h1></div><br>
				<div class="q">upload your file and get answers ready!!!</div><br>
					<div class="image-upload">
						<label for="file-input">
							<img src="upload1.jpg"/>
						</label>
						<input id="file-input" type="file"/>
					</div>
				<h2> <input type="text" placeholder="Ask your question here" required><h2>
				<br>
				<div class="select" style="position: absolute;">		
					<select>
								<option value="marks">select marks</option>
								<option value="2">2M</option>
								<option value="4">4M</option>
								<option value="7">7M</option>
								<option value="14">14M</option>
					</select>
				</div>
				<button id="button2"><a href="ppt.html">Generate ppt</a></button>
				<button id="button2"><a href="answer.html">Answer</a></button>

				<!--<input type="submit" value="submit" onclick="validation1()">-->
			</form>
	
		</div>
		
	</div>
</body>

</html>